extends layout

block content
	div.container
		div.row
			div(class="col s12")
				if (!user)
					p.center
						a(class="btn", href="/login") Login
					p.center
						a(class="btn", href="/register") Register
			div(class="col s12")
				if (user)
					p.center You are currently logged in as #{user.username}
					p.center
						a(href="/logout") Logout