include mixins
doctype
html( lang="en" )
   head
      title= title
      meta( charset='utf-8' )
      meta( http-equiv='X-UA-Compatible', content='IE=edge' )
      meta( name='viewport', content='width=device-width, initial-scale=1.0' )
      meta( name='description', content='A family toolbox to manage todos and errands' )

      link(href="//fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
      link(href="/css/materialize.min.css", rel="stylesheet")


   body
      div
         if(user)
            ul.dropdown-content(id="dropdown1")
               li
                  a(href="/tasks")
                     | My Tasks
               li
                  a(href="/families/tasks/")
                     | Family Tasks
               li
                  a(href="/tasks/new")
                     | New Task
            ul.dropdown-content(id="dropdown2")
               li
                  a(href="/errands")
                     | My Errands
               li
                  a(href="/families/errands/")
                     | Family Errands
               li
                  a(href="/errands/new")
                     | New Errand
            ul.dropdown-content(id="dropdown3")
               li
                  a(href="/families")
                     | My Family
               li
                  a(href="/families/new")
                     | Create new Family
            ul.dropdown-content(id="dropdown4")
               li
                  a(href="/users/profile")
                     | Edit Profile
               li
                  a(href="/logout")
                     | Logout
         nav
            div.nav-wrapper
               a.brand-logo.center(href="http://localhost:3000")
                  i.material-icons
                     | child_care
                  | Family Toolbox
               a.button-collapse(href="#" data-activates="mobile-demo")
                  i.material-icons
                     | menu

               ul.left.hide-on-med-and-down
                  if (user)
                     li
                        a.dropdown-button(href="#" data-activates="dropdown4")
                           i.material-icons.right
                              | arrow_drop_down
                           | Hello #{user.alias}
               ul.right.hide-on-med-and-down
                  if (user)
                     li
                        a.dropdown-button(href="#" data-activates="dropdown1")
                           i.material-icons.right
                              | arrow_drop_down
                           | Tasks
                     li
                        a.dropdown-button(href="#" data-activates="dropdown2")
                           i.material-icons.right
                              | arrow_drop_down
                           | Errands
                     li
                        a.dropdown-button(href="#" data-activates="dropdown3")
                           i.material-icons.right
                              | arrow_drop_down
                           | Family
                  if (!user)
                     li
                        a(href="/login")
                           | Login
                     li
                        a(href="/register")
                           | Create new Account
               ul.side-nav(id="mobile-demo")
                  if (user)
                     li.no-padding
                        ul.collapsible.collapsible-accordion
                           li
                              a.collapsible-header(href="#!")
                                 | Hello #{user.alias}
                                 div.collapsible-body
                                    ul
                                       li
                                          a(href="/users/profile")
                                             | Edit Profile
                                       li
                                          a(href="/logout")
                                             | Logout
                           li
                              a.collapsible-header
                                 | Tasks
                                 div.collapsible-body
                                    ul
                                       li
                                          a(href="/tasks")
                                             | My Tasks
                                       li
                                          a(href="/families/tasks/")
                                             | Family Tasks
                                       li
                                          a(href="/tasks/new")
                                             | New Task
                           li
                              a.collapsible-header(href="#!")
                                 | Errands
                                 div.collapsible-body
                                    ul
                                       li
                                          a(href="/errands")
                                             | My Errands
                                       li
                                          a(href="/families/errands/")
                                             | Family Errands
                                       li
                                          a(href="/errands/new")
                                             | New Errand
                           li
                              a.collapsible-header(href="#!")
                                 | Family
                                 div.collapsible-body
                                    ul
                                       li
                                          a(href="/families")
                                             | My Family
                                       li
                                          a(href="/families/new")
                                             | Create new Family
                  if (!user)
                     li
                        a(href="/login")
                           | Login
                     li
                        a(href="/register")
                           | Create new Account
      .container
         if (error && error.length > 0)
            br
            .alert.alert-dismissable.alert-danger
               button.close( type="button", data-dismiss="alert" ) ×
               | #{error}

         block content

         script( src='//code.jquery.com/jquery-3.2.1.min.js' )
         script( src='/js/materialize.min.js' )
         script( src='/js/init.js' )
