include mixins
doctype
html( lang="en" )
    head
        title= title
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='A family toolbox to manage todos and errands' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css", rel="stylesheet")
 
    body(style="padding-bottom:10rem;")
        .container
          if (error && error.length > 0)
            br
            .alert.alert-dismissable.alert-danger
              button.close( type="button", data-dismiss="alert" ) ×
              | #{error}

          +nav("Family Toolbox", "dropdown_menu")
            if (user)
              +nav_item_dropdown( "#" )( label='Tasks' )
                +nav_item( "/tasks" ) My Tasks
                +nav_item( "/families/tasks/" ) Family Tasks
                +nav_item( "/tasks/new" ) New Tasks
              +nav_item_dropdown( "#" )( label='Errands' )
                +nav_item( "/errands" ) My Errands
                +nav_item( "/families/errands/" ) Family Errands
                +nav_item( "/errands/new" ) New Errands
              +nav_item_dropdown( "#" )( label='Family' )
                +nav_item( "/families" ) My Family
                +nav_item( "/families/new" ) Create new Family
              +nav_item_dropdown( "#" )( label= 'Hello '+user.alias )
                +nav_item( "/users/profile" ) Edit Profile
                +nav_item( "/logout" ) Logout
            if (!user)
              +nav_item( "/login" ) Login
              +nav_item( "/register" ) Create new Account


          block content
 
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' )