extends layout

block content
   p.lead.center-align Please, login into your account
   div.row
      form.col.s12(role='form', action="/login", method="post")
         div.row
            div.input-field.col.s12
               input.validate(type='text' name='username' id='username' )
               label(for='username') Enter your login
         div.row
            div.input-field.col.s12
               input.validate(type='password' name='password' id='password' )
               label(for='password') Enter your password
            label.right
               a.pink-text(href="#")
                  | Forgot Password?
         div.row
            button.right.btn.waves-effect.waves-light(type='submit' name="action") Login
               i.material-icons.right
                  | send
            a.left.waves-effect.waves-light.btn.red.lighten-1(href='/') Cancel
