extends layout

block content
  .container
    h1 Register Page
    p.lead Create your own account.
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter username')
      .form-group
          input.form-control(type='text', name="alias", placeholder='Enter alias')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-primary(type='submit') Submit
      a(href='/')
        button.btn.btn-default(type="button") Cancel