extends ../layout

block content
    h1.
        task ID #{task.id}
    form(action='/tasks/'+task.id,method='POST',name='updatetask',enctype='application/x-www-form-urlencoded')
        p Name: 
            input#inputName(type='text', value= task.name, name='name')
        p Description: 
            textarea#description( name="description", rows="6", cols="66")
                | #{task.description}
        p Are you completed?: 
            input#completed(type='checkbox', name='completed', checked=('task.completed'==='true' ? "checked" : undefined))
        p Owner:
            input#inputOwner(type='text', value= task.owner.alias, name='owner', disabled='disabled')

        if typeof(task.assignee) != 'undefined'
            - var assgn_value = task.assignee.alias
        else
            - var assgn_value = ''
            - var assgn_placeholder = 'unassigned'
        p Assignee:
            input#inputAssignee(type='text', value= assgn, name='assignee', placeholder= assgn_placeholder)
        p Due Date:
            input#inputDuedate(type='text', value= task.duedate, name='duedate')
        p Created: #{task.created}
        p Last Update: #{task.updated}
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Save




            