extends ../layout

block content
    h4.
        #{title}
    form#formAddtask(name="addtask",method="post",action="/tasks")
        p Title: 
            input#inputName(type="text", placeholder="Enter a short summary of the task", name="name")

        p Description:
            input#inputDescription(type="text", placeholder="Enter the description", name="description")
        p Due Date:
            input.datepicker(type="date", name='duedate', data-date-format='yyyy-mm-dd', placeholder="Enter a due date")
        p
            button#btnSubmit(type="submit", class="btn-large") submit

